.calendar {
  width: 280px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header .month {
  flex-grow: 1;
  text-align: center;
}

.calendarTable {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}

.calendarTable th {
  padding: 1rem;
  color: var(--colour-text-muted);
  font-weight: normal;
  font-size: 1.2rem;
}

.calendarTable td {
  width: 40px;
  padding: 0.8rem 0;
}

.futureDate {
  color: #ccc;
}

.dataDot {
  width: 5px;
  height: 5px;
  border-radius: var(--border-radius-circle);
  margin: 0.2rem auto;
}

.dataDot.hasData {
  background-color: var(--colour-accent);
}
