.addWeightContainer {
  text-align: center;
}

.addWeight {
  display: inline-block;
  margin-bottom: 2rem;
  border-radius: 23.5px;
  padding: 6px;
  padding-left: 20px;
  font-size: 1.4rem;
}

.addWeight form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3rem;
}

.formFields {
  display: flex;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

@media (max-width: 600px) {
  .addWeight {
    border-radius: 10px;
    padding: 1.5rem 2rem;
  }

  .formFields {
    flex-direction: column;
  }

  .addWeight label {
    width: 60px;
    text-align: left;
  }
}

.addWeight .field {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.addWeight label {
  margin-right: 0.5rem;
}

.addWeight input {
  height: 22px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0.4rem;
  border: 1px solid #BBB;
  border-radius: 3px;
}

.addButton {
  float: right;
  background-color: #00c8ff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.addButton:hover::after {
  content: '';
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
}