.addWeightContainer {
  text-align: center;
}

.addWeight {
  display: inline-block;
  margin-bottom: 2rem;
  border-radius: var(--border-radius-circle);
  padding: 6px;
  padding-left: 20px;
  font-size: 1.4rem;
}

.addWeight form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3rem;
}

.formFields {
  display: flex;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

@media (max-width: 600px) {
  .addWeight {
    border-radius: var(--border-radius);
    padding: 1.5rem 2rem;
  }

  .formFields {
    flex-direction: column;
  }

  .addWeight .label {
    width: 60px;
    text-align: left;
  }
}

.addWeight .field {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.addWeight .label {
  margin-right: 0.5rem;
}

.addWeight input {
  height: 22px;
  font-size: 1.4rem;
  padding: 0 0.4rem;
}

.addButton {
  --icon-colour: white;
  --icon-background: var(--colour-accent);
  --icon-background-hover: rgb(from var(--colour-accent) r g b / 80%);

  float: right;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: var(--border-radius-circle);
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
