.textInput,
.selectInput {
  color: inherit;
  background-color: var(--colour-surface);
  border: 1px solid var(--colour-border);
  border-radius: var(--border-radius);
}

.textInput:focus,
.selectInput:focus {
  outline: none;
}

.textInput:focus-visible,
.selectInput:focus-visible {
  outline: var(--focus-outline-width) solid var(--colour-accent);
  outline-offset: var(--focus-outline-offset);
}

.compoundInput {
  display: flex;
  gap: 1rem;
}

.compoundField {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.numberInput {
  width: 45px;
  text-align: right;
}

.inputFieldset {
  border: none;
  padding: 0;
  margin: 0;
}
