.colourSelect {
  display: inline-block;
}

.colourSelect .colourInput {
  position: absolute;
  left: -9999px;
}

.colourSelect .colourLabel {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  vertical-align: middle;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.colourSelect .colourInput:focus-visible + .colourLabel {
  outline: var(--focus-outline-width) solid var(--colour-accent);
  outline-offset: var(--focus-outline-offset);
}

.colourSelect .colourInput:checked + .colourLabel:after {
  content: "✔";
  position: absolute;
  top: -8px;
  right: -8px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius-circle);
  border: 2px solid var(--colour-surface);
  background-color: var(--colour-accent);
  color: white;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}
