.columns {
  display: flex;
  flex-direction: row;
}

.calendarColumn {
  margin-right: 2rem;
}

.timelineColumn {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }
}