.card {
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 2rem;
  margin-bottom: 2rem;
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
