.card {
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
