.card {
  background-color: var(--colour-surface);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}
