.statsHeader {
  position: relative;
  padding: 2rem;
  padding-bottom: 0;

  --ellipse-colour: #e4e8ec;
}

.ellipse {
  top: 0;
  left: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.ellipse::after {
  display: block;
  position: absolute;
  background-color: var(--ellipse-colour);
  border-radius: 100%;
  margin-top: -100px;
  margin-left: -25%;
  width: 150%;
  height: 100%;
  content: "";
}

.currentWeightContainer {
  color: white;
  background-color: var(--colour-accent);
  width: 130px;
  height: 130px;
  border-radius: var(--border-radius-circle);
  margin: auto;
  border: 5px solid var(--ellipse-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentWeight {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.currentWeightLabel {
  font-size: 1.2rem;
  font-weight: normal;
}

.headlineStats {
  margin-top: -40px;
  margin-bottom: 30px;
  display: flex;
  gap: 180px;
}

.headlineStats > div {
  flex: 1;
  display: flex;
  row-gap: 0.5rem;
}

.weightTarget {
  justify-content: flex-end;
}

.weightChange {
  justify-content: flex-start;
}

.weightChangeIcon {
  margin-left: 0.5rem;
  font-size: 1rem;
  vertical-align: 0;
}

.headlineStats .label {
  color: var(--colour-text-muted);
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--colour-border);
}

@media (max-width: 600px) {
  .headlineStats {
    margin-top: 10px;
    margin-bottom: 0;
    gap: 0;
  }

  .headlineStats > div {
    flex-direction: column;
    text-align: center;
  }

  .headlineStats .label {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}
