.statsBar {
  display: flex;
  gap: 2rem;
}

.statsWidget {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1.4rem;
}

.statsWidget .title {
  font-size: 1.6rem;
  line-height: 1;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.statsWidget p {
  margin-bottom: 0.5rem;
}

.weightChangeIcon {
  font-size: 1rem;
  vertical-align: 0;
}

.bmiBar .bmiContainer {
  position: relative;
  height: 20px;
}

.bmiBar .bmi {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  text-align: center;
}

.bmiBar .arrowContainer {
  position: relative;
  height: 8px;
}

.bmiBar .arrow {
  position: absolute;
  border-top: 8px solid #111;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  height: 0;
  margin-left: -5px;
  margin-right: -5px;
}

.bmiBar .bar {
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.bmiBar .bar div {
  display: inline-block;
  height: 20px;
}

.bmiBar .bar .underweight {
  background-color: #e65424;
}

.bmiBar .bar .normal {
  background-color: #92cf18;
}

.bmiBar .bar .overweight {
  background-color: #ffbb00;
}

.bmiBar .bar .obese {
  background-color: #e65424;
}

.bmiBar .labels {
  position: relative;
  margin-top: 5px;
  height: 20px;
}

.labels div {
  position: absolute;
  text-align: center;
  width: 100px;
  margin-left: -50px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}