.progressBarContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.progressBarContainer .weight {
  min-width: 80px;
}

.progressBarContainer .weight:last-child {
  text-align: right;
}

.progressBar {
  flex-grow: 1;
  margin: 0 1rem;
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  height: 25px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progressBarFill {
  display: flex;
  align-items: center;
  justify-content: right;
  box-sizing: border-box;
  background-color: #00c8ff;
  height: 100%;
  text-align: right;

}

.progressBarFill .value {
  padding-right: 5px;
  color: white;
}

.progressBarEmpty .value {
  padding-left: 5px;
  color: #007596;
}

.labels {
  display: flex;
  font-size: 1.2rem;
  color: #777;
  line-height: 1.2rem;
}

.labels span {
  flex-grow: 1;
}

.labels span:first-child {
  text-align: left;
}

.labels span:last-child {
  text-align: right;
}