.timeline {
  padding-left: 2rem;
  border-left: 1px solid #00c8ff;
}

.weightRecord {
  position: relative;
  padding: 0.5rem 0;
}

.weightRecord .date {
  display: inline-block;
  width: 60px;
}

.weightRecord .weight {
  display: inline-block;
  width: 110px;
}

.weightRecord .options {
  display: inline-block;
}

.deleteBtn {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: rgb(0, 200, 255);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.weightRecord .dataDot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #00c8ff;
  left: calc(-2rem - 3px);
  top: calc(50% - 4px);
  border-radius: 100%;
}

.month {
  font-size: 2rem;
  padding: 1.5rem 0;
}