.weightInput {
  display: flex;
  gap: 1rem;
}

.weightField {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
}

.weightField input {
  display: inline-block;
  width: 45px;
  text-align: right;
}

.weightUnit {
  display: inline-block;
  margin-right: 0.8rem;
}

.weightUnit:last-child {
  margin-right: 0;
}

input.weightInputLb, input.weightInputKg {
  width: 45px;
}