.weightInput {
  display: inline-block;
}

.weightInput input {
  display: inline-block;
  margin-right: 0.5rem;
  width: 35px;
  text-align: right;
}

.weightInput .weightUnit {
  display: inline-block;
  margin-right: 0.8rem;
}

.weightInput input.weightInputLb, .weightInput input.weightInputKg {
  width: 45px;
}