.heightInput {
  display: inline-block;
}

.heightInput input {
  display: inline-block;
  margin-right: 0.5rem;
  width: 45px;
  text-align: right;
}

.heightInput .heightUnit {
  display: inline-block;
  margin-right: 0.8rem;
}