.colourSelect {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
}

.colourSelect .colourInput {
  position: absolute;
  left: -9999px;
}

.colourSelect .colourLabel {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 31px;
  margin-right: 0;
  vertical-align: middle;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.colourSelect .colourInput:focus-visible + .colourLabel {
  outline: var(--focus-outline-width) solid var(--colour-accent);
  outline-offset: var(--focus-outline-offset);
}

.colourSelect .colourLabel .checkIcon {
  position: absolute;
  padding: 4px;
  top: -8px;
  right: -8px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: var(--border-radius-circle);
  border: 2px solid var(--colour-surface);
  background-color: var(--colour-accent);
  color: white;
}
