* {
  margin: 0;
  padding: 0;
}

:root {
  /* Default accent colour. This is overridden by the user's chosen accent colour in the app settings */
  --accent-colour: #00c8ff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  color: #222;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.pageContainer {
  position: relative;
  margin-inline: auto;
  padding: 2rem;
  max-width: 1000px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#chartjsTooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 120px;
  height: 70px;
  margin-left: -60px;
  margin-top: -90px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
}

#chartjsTooltip:after {
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  content: "";
}

#chartjsTooltip .date {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #555;
}
