.toggleGroup {
  display: flex;
}

.toggleGroupItem {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--colour-border);
}

.toggleGroupItem:not(:first-child) {
  border-left: none;
}

.toggleGroupItem:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.toggleGroupItem:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.toggleGroupItem[aria-checked="true"] {
  background-color: var(--colour-accent);
  color: white;
  border-color: var(--colour-accent);
}

.toggleGroupItem:focus-visible {
  outline: 2px solid var(--colour-accent);
  outline-offset: 2px;
}
